frontend/abc
some.db
backend/__pycache__/database.cpython-310.pyc
frontend/mainNice.py
frontend/__pycache__/nicegui.cpython-310.pyc
frontend/icon/str.txt
some.db
backend/__pycache__/database.cpython-310.pyc
profiles.html