:root{
    --violet:#67507A;
    --green:#b8daa8;
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    font-family: Arial, Helvetica, sans-serif;
}
.text {
    color: black;
    border: 1px solid black;
    background-color: rgb(6, 6, 14);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--violet);
    color: whitesmoke;
    position: fixed;
    width: 100%;
    padding: 5px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
.website-title{
    font-size: 1.5rem;
    margin: .5rem;
    display: flex;
    align-items: center;
}
.website-title p{
    margin-left: 15px;
}
.header-right ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.header-right li{
    list-style: none;
}
.header-right li a{
    text-decoration: none;
    padding: 1rem;
    display: block;
}
.header-right a{
    padding: 5px;
    color: whitesmoke;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.post_image {
    border-radius: 20px;
    width: 95%;
    margin: 2.5%;
    margin-bottom: 1.5%;
}

.post_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.post_card {
    background-color: var(--green);
    border-radius: 20px;
    width: 60%;
    margin-top: 3%;
    margin-bottom: 0%;
}

.header input[type=text] {
    background-color: var(--green);
    border-radius: 6px;
}

.header input[type=submit]{
    background-color: var(--green);
    border-radius: 6px;
}

.post_title {
    margin-top: 0%;
    margin-left: 3%;
    padding-top: 0%;
    margin-bottom: 0%;
}
.post_description {
    margin-left: 3%;
    margin-top: 1%;
}

.user_card_small {
    padding-top: 0%;
    margin-top: 0%;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user_image_small {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.user_link_small {
    width: 7%;
    height: 7%;
    margin-bottom: 3%;
    margin-left: 0%;
    margin-right: 1.5%;
}

.user_name_small {
    margin-top: 0%;
    font-weight: bolder;
}

.user_container_big {
    margin-left: 20%;
    width: 60%;
}

.user_card_big {
    background-color: var(--green);
    border-radius: 20px;
    padding-top: 0%;
    margin-top: 2%;
    display: flex;
    padding-left: 2%;
    padding-top: 2%;
    flex-direction: row;
}

.user_image_big {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.user_link_big {
    width: 18%;
    height: 18%;
    margin-bottom: 3%;
    margin-left: 0%;
    margin-right: 1.5%;
}

.user_name_big {
    margin-top: 10%;
    margin-left: 20%;
    margin-bottom: 0%;
    font-size:xx-large;
    font-weight: bolder;
    padding-top: 0%;
}

.user_description_big {
    margin-left: 25%;
}

.user_attributes {
    display: flex;
    flex-direction: column;
}

.account_posts_title {
    margin-left: 20%;
    margin-bottom: 0%;
    margin-top: 3%;
}

.main_img {
    border-radius: 20%;
}

.header-right a:hover{
    background-color: var(--green);
    border-radius: 15px;
}
.container{
    background-color: whitesmoke;
=======
    color: whitesmoke;
>>>>>>> 03c75a5ff32162c7dc1796b0894f4f794d4bc4ae
}
.ignore{
    width: 100%;
    height: 100px;
}
<<<<<<< HEAD
.content{
    padding-top: 30px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: #06060e;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
.login_container {
    width: 60%;
    background-color: var(--green);
    padding: 3%;
    padding-top: 0%;
    height: auto;
}
.main_container {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
}
.user_text {
    padding: 1.6%;
    border-radius: 8px;
    width: 100%;
    outline: solid 1px rgb(130, 130, 130);
    border: solid 3px whitesmoke;
    margin-top: 2.5rem;
}
.user_text:focus {
    outline: solid 1px var(--violet);
    border: solid 3px var(--violet);
}

.account_change_options {
    margin-left: 20%;
}

.user_login_btn {
    margin-top: 5%;
    background-color: var(--violet);
    color: white;
    border-radius: 10px;
    padding-top:    2.2%;
    padding-bottom: 2.2%;
    width: 100%;
    outline: none;
    border: none;
    font-size: large;
    font-weight: bolder;
}

.footer{
    padding: 15px;
    color: whitesmoke;
    background-color: var(--violet);
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
.post {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 33px;
}
.line{
    width: 100%;
    height: 2px;
    background-color: whitesmoke;
    margin-bottom: 33px;
}
.login{
    margin-left: auto;
    margin-right: auto;
    border-color: whitesmoke;
}
.upload{
    border-radius: 15px;
    border: 2px solid whitesmoke;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    width: 40%;
=======
.header{
    background-color:#67507A;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.website-title{
    display: flex;
    align-items: center;
}
.website-title img{
    border-radius: 10px;
    margin-right: 5px;
}
.header ul{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.header ul li{
    padding: 5px;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
a:hover{
    color: greenyellow;
>>>>>>> 03c75a5ff32162c7dc1796b0894f4f794d4bc4ae
}