:root{
    --violet:#4d3d5aec;
    --green:#537843;
    --bg_container: #454545;
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #252525;
    color: whitesmoke;
}
.text {
    color: black;
    border: 1px solid black;
    background-color: rgb(6, 6, 14);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--violet);
    color: whitesmoke;
    position: fixed;
    width: 100%;
    padding: 5px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
.website-title{
    font-size: 1.5rem;
    margin: .5rem;
    display: flex;
    align-items: center;
}
.website-title p{
    margin-left: 15px;
}
.header-right ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.header-right li{
    list-style: none;
}
.header-right li a{
    text-decoration: none;
    padding: 1rem;
    display: block;
}
.header-right a{
    padding: 5px;
    color: whitesmoke;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.post_image {
    border-radius: 20px;
    width: 95%;
    margin: 2.5%;
    margin-bottom: 1.5%;
}

.post_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    margin-bottom: 15px;
}

.post_card {
    background-color: var(--bg_container);
    border-radius: 20px;
    width: 60%;
    margin-top: 3%;
    margin-bottom: 0%;
    box-shadow: 5px -5px 9px 0px rgba(0,0,0,0.3);
}

.header input[type=text] {
    background-color: #6c6c6c;
    border-radius: 6px;
}
.header input:focus {
    outline: solid 1px var(--violet);
    border: solid 3px var(--violet);
}

.header input[type=submit]{
    background-color: #6c6c6c;
    border-radius: 6px;
    outline: solid 1px var(--violet);
    border: solid 3px var(--violet);
}

.post_title {
    margin-top: 0%;
    margin-left: 3%;
    padding-top: 0%;
    margin-bottom: 0%;
}
.post_description {
    margin-left: 3%;
    margin-top: 1%;
}

.user_card_small {
    padding-top: 0%;
    margin-top: 0%;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user_image_small {
    width:  100%;
    height: 100%;
    border-radius: 50%;

}
.user_link_small {
    width:  7%;
    height: 7%;
    margin-bottom: 3%;
    margin-left: 0%;
    margin-right: 1.5%;
}

.user_name_small {
    margin-top: 0%;
    font-weight: bolder;
}

.user_container_big {
    margin-left: 20%;
    width: 60%;
}

.user_card_big {
    background-color: var(--green);
    border-radius: 20px;
    padding-top: 0%;
    margin-top: 2%;
    display: flex;
    padding-left: 2%;
    padding-top: 2%;
    flex-direction: row;
}

.user_image_big {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.user_link_big {
    width: 18%;
    height: 18%;
    margin-bottom: 3%;
    margin-left: 0%;
    margin-right: 1.5%;
}

.user_name_big {
    margin-top: 10%;
    margin-left: 20%;
    margin-bottom: 0%;
    font-size:xx-large;
    font-weight: bolder;
    padding-top: 0%;
}

.user_description_big {
    margin-left: 25%;
}

.user_attributes {
    display: flex;
    flex-direction: column;
}

.account_posts_title {
    margin-left: 20%;
    margin-bottom: 0%;
    margin-top: 3%;
}

.main_img {
    border-radius: 20%;
}

.header-right a:hover{
    background-color: var(--green);
    border-radius: 15px;
}
.container{
    background-color: whitesmoke;
}
.ignore{
    width: 100%;
    height: 100px;
}

.login_container {
    width: 60%;
    background-color: rgb(28, 28, 28);
    padding: 3%;
    padding-top: 3%;
    height: auto;
    box-shadow: 5px -5px 9px 0px rgba(0,0,0,0.3);
}
.main_container {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
}
.user_text {
    padding: 1.6%;
    border-radius: 8px;
    width: 100%;
    outline: solid 1px rgb(130, 130, 130);
    border: solid 3px whitesmoke;
    background-color: #6c6c6c;
    margin-top: 2.5rem;
}
.user_text:focus {
    outline: solid 1px var(--violet);
    border: solid 3px var(--violet);
}

.user_login_btn {
    margin-top: 5%;
    background-color: var(--violet);
    color: white;
    border-radius: 10px;
    padding-top:    2.2%;
    padding-bottom: 2.2%;
    width: 100%;
    outline: none;
    border: none;
    font-size: large;
    font-weight: bolder;
}

.footer{
    padding: 15px;
    color: whitesmoke;
    background-color: var(--violet);
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}