body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color: whitesmoke;
}
.abc {
    border: 1px solid #ccc;
    padding: 10px; 
    margin-bottom: 10px;
}
.text {
    color: black;
    border: 1px solid black;
    background-color: rgb(6, 6, 14);
}
.header{
    background-color: rgb(10, 10, 10);
    color: whitesmoke;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 5px;
    background-color: rgb(6, 6, 14);
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
.website-title{
    display: flex;
    align-items: center;
}
h3{
    margin-left: 5px;
}
.header-right{
    position:absolute;
    right:0px;
    margin-right: 15px;
}
a{
    padding: 5px;
    color: whitesmoke;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
img{
    border-radius: 15px;
}
a:hover{
    color: rgb(43, 43, 255);
}
.container{
    background-color: white;
}
.ignore{
    width: 100%;
    height: 200px;
}
.content{
    padding-top: 30px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: #06060e;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
.footer{
    padding: 15px;
    color: whitesmoke;
    background-color: rgb(10, 10, 10);
    background-color: rgb(6, 6, 14);
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
.post {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 33px;
}
.line{
    width: 100%;
    height: 2px;
    background-color: whitesmoke;
    margin-bottom: 33px;
}
.login{
    margin-left: auto;
    margin-right: auto;
    border-color: whitesmoke;
}
.upload{
    border-radius: 15px;
    border: 2px solid whitesmoke;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    width: 40%;
}