*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.abc {
    border: 1px solid #ccc;
    padding: 10px; 
    margin-bottom: 10px;
}
.text {
    color: black;
    border: 1px solid black;
    background-color: rgb(6, 6, 14);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #67507A;
    color: whitesmoke;
    position: fixed;
    width: 100%;
    padding: 5px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
.website-title{
    font-size: 1.5rem;
    margin: .5rem;
    display: flex;
    align-items: center;
}
.website-title p{
    margin-left: 15px;
}
.header-right ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.header-right li{
    list-style: none;
}
.header-right li a{
    text-decoration: none;
    padding: 1rem;
    display: block;
}
.header-right a{
    padding: 5px;
    color: whitesmoke;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.post_image {
    border-radius: 20px;
    width: 95%;
    margin: 2.5%;
    margin-bottom: 1.5%;
}

.post_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.post_card {
    background-color: #f0fbeb;
    border-radius: 20px;
    width: 60%;
    margin-top: 3%;
    margin-bottom: 0%;
}

.post_title {
    margin-top: 0%;
    margin-left: 3%;
    padding-top: 0%;
    margin-bottom: 0%;
}
.post_description {
    margin-left: 3%;
    margin-top: 1%;
}

.user_card_small {
    padding-top: 0%;
    margin-top: 0%;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user_image_small {
    width: 7%;
    height: 7%;
    border-radius: 50%;
    margin-bottom: 3%;
    margin-left: 0%;
    margin-right: 1.5%;
}

.user_name_small {
    margin-top: 0%;
    font-weight: bolder;
}

.user_container_big {
    margin-left: 20%;
    width: 60%;
    background-color: #f0fbeb;
    padding-top: 2%;
    border-radius: 20px;
}

.user_card_big {
    padding-top: 0%;
    margin-top: 0%;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
}

.user_image_big {
    width: 18%;
    height: 18%;
    border-radius: 50%;
    margin-bottom: 3%;
    margin-left: 0%;
    margin-right: 1.5%;
}

.user_name_big {
    margin-top: 10%;
    margin-left: 20%;
    margin-bottom: 0%;
    font-size:xx-large;
    font-weight: bolder;
    padding-top: 0%;
}

.user_description_big {
    margin-left: 25%;
}

.user_attributes {
    display: flex;
    flex-direction: column;
}

.account_posts_title {
    margin-left: 20%;
    margin-bottom: 0%;
    margin-top: 3%;
}

.main_img {
    border-radius: 20%;
}

.header-right a:hover{
    background-color: #14141b;
    border-radius: 15px;
}
.container{
    background-color: white;
}
.ignore{
    width: 100%;
    height: 100px;
}
.content{
    padding-top: 30px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: #06060e;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
.footer{
    padding: 15px;
    color: whitesmoke;
    background-color: rgb(10, 10, 10);
    background-color: rgb(6, 6, 14);
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
.post {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 33px;
}
.line{
    width: 100%;
    height: 2px;
    background-color: whitesmoke;
    margin-bottom: 33px;
}
.login{
    margin-left: auto;
    margin-right: auto;
    border-color: whitesmoke;
}
.upload{
    border-radius: 15px;
    border: 2px solid whitesmoke;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    width: 40%;
}
.toggle-btn{
    position: absolute;
    right: 1rem;
    display: none;
    justify-content: center;
    width: 25px;
    height: 25px;
    align-items: center;
    margin-top: 15px;
}
.toggle-btn a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.toggle-btn .dot{
    height: 5px;
    width: 5px;
    background-color: whitesmoke;
    border-radius: 50%;
    display: inline-block;
    margin: 3px;
}
@media (max-width: 600px){
    .toggle-btn{
        display: flex;
    }
    .header-right{
        width: 100%;
        display: none;
    }
    .website-title{
        font-size: 1rem;
    }
    .header{
        flex-direction: column;
        align-items: flex-start;
    }
    .header-right ul{
        flex-direction: column;
        width: 100%;
    }
    .header-right li a {
        padding: .5rem 1rem;
    }
    .header-right.active{
        display: flex;
    }
}