body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color: whitesmoke;
}
.header{
    background-color: rgb(10, 10, 10);
    color: whitesmoke;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 5px;
    background-color: rgb(6, 6, 14);
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
.website-title{
    display: flex;
    align-items: center;
}
h3{
    margin-left: 5px;
}
.header-right{
    position:absolute;
    right:0px;
    margin-right: 15px;
}
a{
    padding: 5px;
    color: whitesmoke;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
img{
    border-radius: 15px;
}
a:hover{
    color: rgb(43, 43, 255);
}
.container{
    background-color: rgb(42, 42, 42);
    height: 80%;
}
.ignore{
    height: 66px;
}
.content{
    padding-top: 10%;
    padding-bottom: 11%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: rgb(6, 6, 14);
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
.footer{
    padding: 15px;
    color: whitesmoke;
    background-color: rgb(10, 10, 10);
    background-color: rgb(6, 6, 14);
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
.login{
    border-radius: 15px;
    border: 2px solid whitesmoke;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    width: 40%;
}