<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}"/>
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <title>IAS</title>
</head>
<body>
    <div class="header">
        <div class="website-title">
            <a href="/"><img class="main_img" src="..\static\styles\ias-icon.png" width="50"></a>
        <p>Instagram, aber schlechter.</p>
        </div>
        <div class="toggle-btn">
            <a href="#">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </a>
        </div>
        <div class="header-right">
            <ul>
                <li>
                    <form action="/api/search" method="post">
                        <input type="text" name="q" placeholder="">
                        <input type="submit" value="Suchen"/>
                    </form>
                </li>
                <li><a href="/login/">Login/Registration</a></li>
                <li><a href="/logout/">Logout</a></li>
                <li><a href="/createpost/">Bild posten</a></li>
                <li><a href="/account/">Mein Account</a></li>
                
            </ul>
        </div>
    </div>
    <div class="ignore">you shouldn't see me</div>
    {% block content %}
    {% endblock %}
    <div class="footer">
        Copyright &copy; 2023 flac (EF-Projekt)
    </div>
</body>
</html>