<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css"/> 
    <title>IAS</title>
</head>
<body>
    <div id="header">
        <div id="website-title">
            <a href="index.html"><img src="ias-icon.jpg" width="69"></a>
        <h1>Instagram, aber schlechter.</h1>
        </div>
        <div id="header-right">
            <div class="btn">
                <a href="login.html">Login/Registration</a>
            </div>
            <div>
                <a href="#">Bild posten</a>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    <div id="footer">
        Copyright &copy; 2023 flac (EF-Projekt)
    </div>
</body>
</html>