{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <div id="container">
        <div id="ignore">you shouldn't see me</div>
        <div id="content">
            <div class="post">
                <img src="https://placehold.co/500x500" width="33%">
                <p>Geposted von:</p>
                <p>Textbeschrieb:</p>
            </div>
            <div class="post">
                <img src="https://placehold.co/500x500" width="33%">
                <p>Geposted von:</p>
                <p>Textbeschrieb:</p>
            </div>
            <div class="post">
                <img src="https://placehold.co/500x500" width="33%">
                <p>Geposted von:</p>
                <p>Textbeschrieb:</p>
            </div>
        </div>
    </div>
{% endblock %}