{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <div class="container">
        <div class="ignore">you shouldn't see me</div>
        <div class="content">
            <div class="post">
                <img src="https://placehold.co/500x500" width="60%">
                <p>Nutzer, Textbeschrieb</p>
                <div class="line"></div>
            </div>
            <div class="post">
                <img src="https://placehold.co/500x500" width="60%">
                <p>Nutzer, Textbeschrieb</p>
                <div class="line">
            </div>
            <div class="post">
                <img src="https://placehold.co/500x500" width="60%">
                <p>Nutzer, Textbeschrieb</p>
                <div class="line"></div>
            </div>
        </div>
    </div>
{% endblock %}