{% extends "base.html" %}
{% block content %}
<div class="main_container">
    <div class="login_container">
        <form action="/api/login" method="post">
            <!-- Email input -->
            <div class="">
                <input type="text" id="form1Example13" name="username" class="user_text" />
                <label class="user_label" for="form1Example13">Username</label>
            </div>
            <!-- Password input -->
            <div class="">
                <input type="password" id="form1Example23" name="password" class="user_text" />
                <label class="user_label" for="form1Example23">Password</label>
            </div>
            <!-- Submit button -->
            <button type="submit" class="user_login_btn">Login</button>
        </form>
    </div>
</div> 
{% endblock %}