<html><head><title>Post List</title></head><body><div style='border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;'>
<div style='max-width: 400px; margin: 0 auto;'>
<img src='def' alt='Post Image' style='max-width: 100%;'><br>
<h2>abc</h2>
<p>hij</p>
<p>User ID: 6c5c1db5-23d0-4524-b045-aefd622307aa</p>
</div>
</div><div style='border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;'>
<div style='max-width: 400px; margin: 0 auto;'>
<img src='def' alt='Post Image' style='max-width: 100%;'><br>
<h2>abc</h2>
<p>hij</p>
<p>User ID: 6c5c1db5-23d0-4524-b045-aefd622307ab</p>
</div>
</div></body></html>